* {
    font-family: arial,sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
    background-color: #505055d7;
}

.page {
    position: fixed;
    top: 0;
    left: 15%;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

/* HEADER */

header {
    margin: 0 auto;
}

.header {
    margin: 0 auto;
    text-align: center;
}

header img {
    margin: 2rem auto 0.5rem auto;
}

.nav {
    width: 65%;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    justify-content: center;
    
}

.nav a {
    text-decoration: underline;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    padding: 0.5rem;
}

.nav a:hover {
    color: #ff0000;
}

/* MAIN CONTENT */

main {
    text-align: center;
    width: 57%;
    margin: 0 auto;
}

/* DESCRIPTION */

main h1 {
    font-size: 25px;
    text-align: center;
    margin: 3rem auto 0 auto;
}

main p {
    font-size: 18px;
    text-align: left;
    margin: 0 auto;
    word-spacing: 0.2rem;
    line-height: 1.8rem;
    margin: 0.5rem auto 0 auto;
    background-color: #54585a41;
    padding: 0.5rem 0 0.5rem 1rem;
    color: rgb(0, 0, 0);
}

/* WORKING HOURS AND LOCATION */

.flex-hours-location {
    display: flex;
    gap: 3rem;
    margin: 3.5rem auto 0 auto;
    justify-content: center;
    width: 100%;
}

.hours {
}

table {
    width: 300px;
    height: 304px;
    border: 2px #24247c;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: #4343e9;
    color: rgb(255, 255, 255);
}

th {
    padding-bottom: 1rem;
    font-size: 34px;
    letter-spacing: 0.1rem;
    text-shadow: 4px 3px 3px #000000;
}

tr, td {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    text-shadow: 4px 3px 3px #000000;
}

.location {

}

.location iframe {
    width: 300px;
    height: 300px;
    border: 2px solid #1d1d6338;
    border-radius: 0.5rem;
}