.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  text-align: center;
  height: 100%;
  width: 100%;
}

.grid-item-1 {
  border: 2px solid rgb(0, 0, 0);
  grid-column: 1/span 3;
  grid-row: 1/span2;
}

.flex-container {
  display: flex;
}

.grid-item-1 h1 {
  display: inline;
  margin-left: 5%;
  border: 1px solid black;
}

.grid-item-1 ul {
  width: 100%;
  list-style-type: none;
  border: 1px solid black;
}

.grid-item-1 li {
  display: inline;
  margin-right: 10em;
  border: 1px solid black;
}

nav {

}

.grid-item-2 {
  border: 2px solid rgb(0, 0, 0);
}

.grid-item-3 {
  border: 2px solid rgb(0, 0, 0);
}

.grid-item-4 {
  border: 2px solid rgb(0, 0, 0);
}

.grid-item-5 {
  border: 2px solid rgb(0, 0, 0);
  grid-column: 1/span 3;
}