* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

/* HEADER */

.header-bar {
  width: 100%;
  height: fit-content;
  background-color: black;
  border-top: 1px solid rgb(0, 0, 0);
  text-align: center;
}

.header-bar h1 {
  color: white;
  padding: 0;
  margin-top: 0.8rem;
}

nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0 0 0.8rem 0;
}

nav li {
  display: inline-block;
  padding-right: 1rem;
  margin-left: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: gray;
}

/* SKILLS */

#skills {
  width: 80%;
  margin: 5rem auto;
  font-size: 16px;
}

#skills h2 {
  text-align: center;
}

.left-aligned-text {
  width: 30%;
  text-align: left;
  margin: 0 auto;
}

.skills-text {
  padding: 0.5rem;
  margin-left: 1.75rem;
}

.img-skills {
  width: 9%;
  padding-right: 1rem;
  vertical-align: middle;
}

.grid-container-projects {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  text-align: center;
  height: 100%;
  margin: 0 auto;
  gap: 2em;  
}

.grid-project-1 {
}

.grid-project-2 {
}

@media screen and (max-width: 340px) {
  nav li {
    padding-right: 0.5rem;
    margin-left: 0.5rem;
  }
}