body {
    background-color: rgba(226, 220, 220, 0.562);
}

h1 {
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white
}

header {
    text-align: center;
    padding-top: 20px;
    background-color: rgb(1, 26, 71);
}

.header {
    display: flex;
    margin-left: 300px;
    margin-right: auto;
    margin-top: -15px;
    margin-bottom: -5px;
    align-items: center;
}

.nav {
    background-color: rgb(206, 118, 19);
    width: 600px;
    border-radius: 10px;
    padding: 1px;
}

.nav li {
    display: inline;
    padding-right: 100px;
    color: black;
}

.nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.nav a:hover {
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-decoration: none;
}

a:visited {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

nav {
    text-align: center;
    padding: 40px;
}

.container {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    margin-top: 74px;
    padding-bottom: 25px;
}

.proj {
    margin: auto;
    width: 400px;
    word-wrap:break-word;
}

.p {
    width: 100%;
    text-align: center;
}

.project {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
}

img {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}

.footer {
    background-color: rgb(1, 26, 71);
    margin-top: 69px;
    height: 150px;
    color: white;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: 0;
}

footer a:hover {
    color: rgb(206, 118, 19);
}

footer a:visited {
    color: white;
}