* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

/* HEADER */

.header-bar {
  width: 100%;
  height: fit-content;
  background-color: black;
  border-top: 1px solid rgb(0, 0, 0);
  text-align: center;
}

.header-bar h1 {
  color: white;
  padding: 0;
  margin-top: 0.8rem;
}

nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0 0 0.8rem 0;
}

nav li {
  display: inline-block;
  padding-right: 1rem;
  margin-left: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: gray;
}

/* SKILLS */

#skills {
  width: 80%;
  margin: 3rem auto;
  text-align: center;
}

.grid-container-skills {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 auto;
}

.grid-skills-1 {
  width: 50%;
}

.grid-skills-2 {
  width: 50%;
}

@media screen and (max-width: 340px) {
  nav li {
    padding-right: 0.5rem;
    margin-left: 0.5rem;
  }
}