* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100%;
  background-color: rgb(193, 235, 235);
  overflow-x: hidden;
}

/* HEADER */

.header-bar {
  width: 100%;
  height: fit-content;
  background-color: black;
  border-top: 1px solid rgb(0, 0, 0);
  text-align: center;
}

.header-bar h1 {
  color: white;
  padding: 0;
  margin-top: 0.8rem;
}

nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0 0 0.8rem 0;
}

nav li {
  display: inline-block;
  padding-right: 1rem;
  margin-left: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: gray;
}

/* SKILLS */

#skills {
  width: 740px;
  margin: 5rem auto;
}

#skills h2 {
  text-align: center;
}

.left-aligned-text {
  width: 100%;
  text-align: left;
  margin: 0 auto;
}

.skills-text {
  padding: 0.5rem;
  margin-left: 11.5rem;
  font-weight: 500;
}

.img-skills {
  width: 9%;
  padding-right: 1rem;
  vertical-align: middle;
}

/* PROJECTS */

#projects {
  width: 80%;
  margin: 8rem auto;
  text-align: center;
}

.grid-container-projects {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  text-align: center;
  height: 100%;
  margin: 0 auto;
  gap: 2em;  
}

.grid-project-1 {
  text-align: center;
}

.grid-project-1 h3 {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.img-project {
  display: block;
  width: 70%;
  height: 65%;
  margin: 0 auto;
}

.projects-text {
  margin: 0 auto;
  text-align: left;
  width: 65%;
  padding: 1rem 0 1rem 0;
  font-weight: 450;
}

#projects ul {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  padding: 0;
}

#projects li {
  font-weight: bold;
  display: inline;
}

.grid-project-2 {
  text-align: left;
}

.grid-project-2 h3 {
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

/* ABOUT */

#about {
  text-align: center;
}

#about h2 {

}

.grid-container-about {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  text-align: center;
  height: 100%;
  margin: 0 auto;
  gap: 2em;
}

@media screen and (max-width: 1280px) {

/* SKILLS */

  #skills {
    width: 740px;
    margin: 2rem auto;
  }

  /* PROJECTS */

  #projects {
    width: 80%;
    margin: 4rem auto;
  }

  .grid-container-projects {
    display: block;
  }

  .grid-project-1 {
    padding-top: 0.1rem;
  }

  .img-project {
    width: 50%;
    height: 30%;
  }

  .projects-text {
    width: 50%;
  }

  .grid-project-2 {
    padding-top: 1.5rem;
  }

}

@media screen and (max-width: 750px) {

  /* HEADER */

  nav li {
    padding-right: 0.5rem;
    margin-left: 0.5rem;
  }

  /* SKILLS */

  #skills {
    width: 500px;
  }

  .skills-text {
    margin-left: 4.5rem;
  }

 /* PROJECTS */

  #projects {
    width: 100%;
    margin: 4rem auto;
  }

  .img-project {
    width: 50%;
    height: 30%;
  }
  
}

@media screen and (max-width: 520px) {

  /* SKILLS */

  #skills {
    width: 300px;
  }

  .skills-text {
    margin: 0 auto;
    text-align: center;
  }
  
  .img-skills {
    margin: 0 175px 0 125px;
    width: 12%;
    padding: 0.5rem 0 0.2rem 0;
  }

  /* PROJECTS */

  .img-project {
    width: 50%;
    height: 30%;
  }

  .projects-text {
    font-size: 14px;
  }

  #projects li {
    font-size: 13px;
  }

}