body {
    background-color: rgba(226, 220, 220, 0.562);
    margin: 0;
}

header {
    text-align: center;
    padding: 0px;
    background-color: rgb(1, 26, 71);
    width: 100%;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

h1 a {
    text-decoration: none;
    color: white;
}

nav {
    border: none;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    display: inline;
}
  
li a {
    display: inline-block;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: rgb(175, 31, 31);
}

.active {
    color:rgb(175, 31, 31);
}

.active:hover {
    background-color: #333;
}

.container {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    margin-top: 66px;
    padding-bottom: 25px;
}

.proj {
    margin: auto;
    width: 400px;
    word-wrap:break-word;
}

.p {
    width: 100%;
    text-align: center;
}

.project {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
}

img {
    height: 300px;
    width: 400px;
    border-radius: 15px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(1, 26, 71);
    color: white;
    bottom: 0;
    position: absolute;
    width: 100%
}

footer a {
    color: white;
    text-decoration: 0;
}

footer a:hover {
    color: rgb(206, 118, 19);
}

footer a:visited {
    color: white;
}